/*!
 * customize.
 */

textarea.my {
  resize: vertical;
}
textarea.view-mode {
  border: none;
}
span.label-my {
  font-size: 100%;
  font-weight: normal;
}
span.label-my-sm {
  font-weight: normal;
}
body {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "ヒラギノ角ゴ Pro W3", sans-serif;*/
  font-family: "Migu 1M", sans-serif;
}
div.my-margin {
  margin-left: 15px;
  margin-right: 15px;
}

/*!
 * for svg - common.
 */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*!
 * for svg - sort visualization.
 */

.axis path, .axis line {
  fill: none;
  stroke: white;
  /*stroke: black;*/
  shape-rendering: crispEdges;
}
.label-svg-undone {
  background-color: #25B8F5;
}
.label-svg-comparing {
  background-color: #09C100;
}
.label-svg-exchanging {
  background-color: #0000FF;
}
.label-svg-complete {
  background-color: #FF38E5;
}
.label-svg-dummy {
  background-color: #A4A4A4;
}

/*.axis text {
  font-family: sans-serif;
  font-size: 11px;
}*/


/*!
 * for svg - mail attack visualization.
 */

path.link {
  fill: none;
  stroke: #777777;
}
g.node > circle {
  fill: #CCCCCC;
  /*stroke: #FFFFFF;
  stroke-width: 1.5px;*/
}
g.node > circle.boss {
  fill: #00accb;
  stroke: #0043b6;
  /*stroke-width: 1.5px;*/
}
g.node > circle.overflow {
  fill: #de2020;
  stroke: #aa0000;
  /*stroke-width: 2.5px;*/
}
g.node > text {
  fill: #000000;
  font-family: sans-serif;
  font-size: 12px;
  pointer-events: none;
}

/*!
 * for svg - jma report visualization.
 */

pre.message {
  line-height: 1.2em;
  height: 690px;
  overflow-y: scroll;
  font-family: "Migu 1M", sans-serif;
  font-size: 12px;
}
g > circle.c01 {
  fill: #ff0000;
}
g > circle.c02 {
  fill: #0030ff;
}
g > circle.c03 {
  fill: #a4119f;
}
g > circle.c04 {
  fill: #1aad02;
}
g > circle.c05 {
  fill: #00fff0;
}
g > circle.c09 {
  fill: #d5cbcb;
}
g > circle.c91 {
  /* undefined. */
}
g > text.legend {
  font-family: "Migu 1M", sans-serif;
  font-size: 5px;
  pointer-events: none;
}
g > circle.report {
  /*fill: ;*/
  /*stroke-opacity: 1;*/
}
g > circle.ripple {
  fill: none;
  stroke-opacity: 1;
}
g > rect.description {
  fill: #dd94db;
}
g > text.description {
  font-family: "Migu 1M", sans-serif;
  font-size: 6px;
  pointer-events: none;
}
g > path.japan {
  fill: white;
  stroke-width: 0.5;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: DASH 10s ease-in 0s forwards;
  -webkit-animation: DASH 10s ease-in 0s forwards;
  /*-o-animation: DASH 20s ease-in 0s forwards;
  animation: DASH 20s ease-in alternate forwards;*/
}
@keyframes DASH {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
    /*fill: black;*/
    fill: #acacac;
  }
}
@-webkit-keyframes DASH {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
    /*fill: black;*/
    fill: #acacac;
  }
}

/*@-moz-keyframes DASH {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}
@-o-keyframes DASH {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}
@-ms-keyframes DASHf {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: black;
  }
}*/


/*g#obslegend > circle.c01 {
  fill: #ff0000;
}*/


/*!
 * for debug.
 */

div {
  border: 1px solid #D3D3D3;
}
